/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

section {
  padding: 60px 0;
}
.color-icon-primary {
  color: #4b2574;
}
.btn-border-primary {
  border: 2px solid #4b2574;
  color: #4b2574;
}
.card-border-primary {
  border-color: #4b2574;
}
.social-icons i {
  font-size: 5rem; /* Default size */
}
@media (max-width: 768px) {
  .social-icons i {
    font-size: 2rem; /* Smaller size on small screens */
  }
}

/* infinite slider style */

.slider {
  width: 100%;
  /* background-color: #99cced; */
  height: calc(var(--height) + 20px);
  mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  justify-content: center;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
}

/* infinite slider style */

.container-slide {
  max-width: 124rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.projects-slider {
  height: auto; /* Adjust to fit content */
  padding: 2rem 0;
  position: relative;
}

.image-link {
  cursor: pointer;
}

.projects-slide {
  width: 100%; /* Ensures responsiveness */
  max-width: 25rem; /* Limit slide width */
  height: auto; /* Fit content */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-slide .projects-slide-img img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.projects-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.projects-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.projects-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.projects-slider-control .slider-arrow::after {
  content: "";
}

.projects-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.projects-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.projects-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

a {
  cursor: default;
}
